
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Titillium Web-Semi Bold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
      url('../fonts/TitilliumWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
      url('../fonts/TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Colors */
/* Section-header */
header{
  background-color: #87509c;

}
header a{
  text-decoration: none;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
header a:hover {
  background-color: #643a79;
  border-radius: 3px;
}
.logo{
  display: inline-block;
}
.flex-nav-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
  margin-left: 212px;
  margin-right: 195px;
}
.menu-header{
  list-style: none;
}
.menu-header .active{
  background-color: #643a79;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu-items-header{
  display: inline-block;
  padding: 10px 17px;
  border-radius: 3px;
  margin-left: 20px;
}
.menu-items-header:hover{
  background-color: #643a79;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
header button {
  width: 293px;
  height: 70px;
  background-color: #eb7d4b;
  border: 1px solid #eb7d4b;
  border-radius: 3px;
  font-family: "Titillium Web-Semi Bold", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.19px;
  letter-spacing: 0.27px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  color: #ffffff;
  margin-top: 54px;
  margin-bottom: 145px;
}
header .header-button {
  text-align: center;
}
button:hover {
  cursor: pointer;
  background-color: #e65c1d;
}
.header-title {
  width: 906px;
  height: 88px;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 42px;
  font-weight: 700;
  line-height: 48.82px;
  text-align: center;
  margin-top: 156px;
  margin-left: auto;
  margin-right: auto;
}
.services {
  margin-top: -2.1rem;
  background-color: #17c2a4;
  text-align: center;
}
.flex-services{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 204px;margin-right: 204px;
  align-items: center;
}
.services img {
  max-width: 70%;
  max-height: 70%;
}
.services h1 {
  padding-top: 119px;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4px;
}
.services p {
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 0.36px;
  margin-top: 0;
}
.services h2 {
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  color: #ffffff;
  padding-top: 60px;
  margin-bottom: 0;
}
.services hr {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #14a58c;
}
.serv-img {
  display: inline-block;
  text-align: center;
  width: 192px;
  height: 295px;
  padding-top: 83px;
  padding-bottom: 128px;
}
.reviews {
  background-color: #d74680;
  margin-top: -2.1rem;
}
.reviews h1 {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  padding-top: 119px;
  text-align: center;
}
.reviews-header {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 0;
}
.reviews hr {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #b73c6d;
}
.flex-container {
  padding-top: 82px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 171px;
  margin-right: 171px;
}
.flex-element{
  max-width: 524px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.flex-element img{
  width: 96px;
  height: 96px;
}
.flex-element p{
  max-width: 368px;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 21px;
  line-height: 31.2px;
  font-style: italic;
}
.flex-element h2{
  margin-left: 156px;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.flex-element h3{
  margin-left: 156px;
  margin-top: 0;
  color: #ffdd99;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 129px;
}
.git {
  height: auto;
  margin-top: -2.1rem;
  background-color: #3c5499;
  padding-left: 25px;
}
.git h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  padding-top: 120px;
  padding-right: 25px;
}
.git p {
  text-align: center;
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 48px;
}
.git-form {
  padding-top: 74px;
  text-align: center;
}
.git hr {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #273a71;
}
.label {
  display: inline-block;
  padding-right: 32px;
}
.label-area {
  display: block;
  padding-top: 27px;
}
.form-input {
  width: 414px;
  height: 56px;
  background-color: #273a71;
  border: 1px solid #273a71;
  border-radius: 3px;
  padding-left: 25px;
}
.area {
  width: 885px;
  height: 200px;
  background-color: #273a71;
  padding-left: 25px;
  padding-top: 24px;
  border: 1px solid #273a71;
  border-radius: 3px;
}
.btn {
  width: 293px;
  height: 70px;
  background-color: #30bae7;
  border: 1px solid #30bae7;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Titillium Web-Semi Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.19px;
  text-transform: uppercase;
  }
.btn:hover {
  cursor: pointer;
  background-color: #18a0cc;
}
.button-git {
  padding-top: 59px;
  margin-right: 25px;
  padding-bottom: 143px;
}
.contact {
  width: auto;
  background-color: #344b8e;
}
.contact a {
  color: #ffffff;
  font-family: "Titillium Web-Semi Bold";
  font-size: 24px;
  font-weight: 400;
  line-height: 29.91px;
  text-decoration: none;
}
.contact a:hover {
  color: #30bae7;
}
.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 112px;
  flex-direction: row;
  align-items: center;
}
.flex-el-1 {
  margin-left: 251px;
}
.flex-el-7 {
  margin-right: 251px;
}
.section-team{
  width: auto;
  height: auto;
  background-color: #e7f1f8;
  margin-top: -2.1rem;
}
.section-team hr {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #bdd1df;
}
.container{
  text-align: center;
}
.flex-container-team{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 180px;
  margin-right: 180px;
}
.team-title{
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 41px;
  font-weight: 700;
  line-height: 30.87px;
  text-transform: uppercase;
  padding-top: 119px;
  letter-spacing: 4px;
}
.t-d{
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 19px;
  font-weight: 400;
  line-height: 26.84px;
  letter-spacing: 0.36px;
  margin-bottom: 0;
}

.flex-e-1{
  margin-top: 79px;
  flex-wrap: wrap;
  text-align: center;
}
.team-img{
  max-width: 150px;
  max-height: 150px;
}
.t-title{
  color: #27283d;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  padding-top: 41px;
  margin-top: 0;
}
.t-title h2{
  margin-top: 0;
}
.t-pos p{
  color: #30bae7;
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  padding-bottom: 26px;
  margin-bottom: 0;
}
.team-text p{
  margin-left: auto; margin-right: auto;
  width: 196px;
  height: 112px;
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-bottom: 31px;
  margin-top: 0;
}
.social{
  display: flex;
  justify-content: center;
  padding-bottom: 127px;

}
.s-img{
  text-align: center;
  border: solid #bdd1df;;
  background-color: #bdd1df;
  width: 32px;
  line-height: 32px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    margin-left: 220px;margin-right: 220px;
  padding-bottom: 122px;
  padding-top: 74px;
}

.single-chart {
  width: 125px;
  height: 125px;
  padding-bottom: 60px;
}
.single-chart h2{
  text-align: center;
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #eb7d4b;
}

.circular-chart.green .circle {
  stroke: #15c7a8;
}

.circular-chart.blue .circle {
  stroke: #30bae7;
}

.circular-chart.red .circle {
  stroke: #d74680;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.skills{
  height: auto;
  width: auto;
}

.skills h1{
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 117px;
}

.skills hr {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #dfe8ed;
}

.skills p{
  width: 568px;
  height: 45px;
  color: #3c4761;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
  margin: auto;
  padding-top: 23px;
  }
.portfolio{
  height: auto;
  width: auto;
  background-color: #ffdd99;
}
.portfolio h1{
  color: #393939;
  font-family: "Titillium Web";
  font-size: 40px;
  font-weight: 700;
  line-height: 29.91px;
  text-transform: uppercase;
  padding-top: 120px;
}
.portfolio hr{
  width: 87px;
  height: 4px;
  border: none;
  background-color: #e5c37f;
}
.portfolio p{
  margin-left: auto;margin-right: auto;
  max-width: 515px;
  color: #393939;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 23px;
}
.flex-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
}
.menu-nav{
  padding-left: 0;
}
.menu-items {
  padding: 18px 44px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color:#ebc985;
 }
 .menu-items:hover {
  background-color: white;
  text-decoration: none;
 }
.portfolio ul{
  list-style: none;
  display: block;
}
.portfolio li{
  display: inline-block;
}
.portfolio a{
  text-decoration: none;
  color: #393939;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
  text-transform: uppercase;
}
.active {
  background-color: #ffffff;
 }
.flex-content{
  display: flex;
  flex-wrap: wrap;
  padding-top: 62px;
  justify-content: space-around;
  margin-left: 170px;margin-right: 170px;
 }
 .flex-content h2{
  text-align: center;
  color: #393939;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
  text-transform: uppercase;
  padding-bottom: 64px;
}
.btn-portfolio{
  text-align: center;
  padding: 109px;
}
.b-portfolio{
  padding: 28px 55px;
  background-color: #17c2a4;
  text-align: center;
  border-style: none;
  border-radius: 3px;
  font-family: "Titillium Web - Semi Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.19px;
  text-transform: uppercase;
}
.b-portfolio:hover{
  background-color: #129b83;
}
.b-portfolio p{
  margin: 0;
  padding: 0;
  color: #ffffff;
}
@media (max-width: 1010px){
  .flex-nav-header{
    margin-left: 112px;
    margin-right: 95px;
  }
  .flex-services{
    margin: 104px;
  }
  .serv-img-1{
    margin-right: 200px;
  }
}
@media(max-width: 1500px){
  .flex-element{
    display: flex;
    margin-right: auto; margin-left: auto;
  }
}
@media (max-width: 1199px){
  .flex-services{
    margin: 104px;
  }
}
@media (max-width: 991px){
  .flex-nav-header{
    display: flex;
    flex-direction: column;
    margin-left: 0;margin-right: 0;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .header-title{
    margin-top: 56px;
  }
}
@media(max-width:809px){
  .serv-img-1{
    margin-right: 100px;
  }
}
@media (max-width: 767px){
  .menu-header{
    padding: 0;
  }
  .menu-items-header{
    display: flex;
    justify-content: center;
    padding: 10px 17px;
    border-radius: 3px;
    margin-left: 0;
  }
  .serv-img-1{
    margin-right: 0;
  }
  .flex-services{
    margin: 104px;
    flex-direction: column;
  }
  .flex-element p{
    display: flex;
    margin: auto;
  }
}
